.search-input {
  border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    outline: none !important;
    width: 100%;
    border-color: rgb(201, 201, 201);
    padding: 5px;
}